In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
def my_generator():
  for i in range(10):
    yield i

my_generator()

In [4]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age+=1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [13]:
n=7
for i in range(n):
    for j in range(i+1):
        print("*",end='')
    print('\r')

*
**
***
****
*****
******
*******

In [24]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(2*i+1):
        print("*",end='')
    print('\r')

    *
   ***
  *****
 *******
*********

In [26]:
lst=["apollo","apple","banana","cherry"]
for i in lst:
    if i=="banana":
        print(f"{i} is found")
        break
    print(i)

apollo
apple
banana is found

In [27]:
lst=["apollo","apple","banana","cherry"]
for i in lst:
    if i=="banana":
        print(f"{i} is found")
        pass
    print(i)

apollo
apple
banana is found
banana
cherry

In [28]:
lst=["apollo","apple","banana","cherry"]
for i in lst:
    if i=="banana":
        print(f"{i} is found")
        continue
    print(i)

apollo
apple
banana is found
cherry

In [30]:
val=float(input('enter the number'))
if val>=0:
    if val==0:
        print("zero")
        
    else:
        print('The given number is positive')
else:
    print('The given number is negetive')

enter the number76876
The given number is positive

In [31]:
val=float(input('enter the number'))
if val>=0:
    if val==0:
        print("zero")
        
    else:
        print('The given number is positive')
else:
    print('The given number is negetive')

enter the number-377329
The given number is negetive

In [32]:
val=float(input('enter the number'))
if val>=0:
    if val==0:
        print("zero")
        
    else:
        print('The given number is positive')
else:
    print('The given number is negetive')

enter the number0
zero

In [38]:
''' A child is learning to count number of 10 rupess in his hand 
and here we have given 5 notes of 10 rupess. 
Output will display the counting of notes and total amount'''
notes=5
i=0
amount=0
while i<=notes:
    print(i,"=",amount)
    i+=1
    amount+=10
print(f"The amount of counting a child is {amount}rs")

0 = 0
1 = 10
2 = 20
3 = 30
4 = 40
5 = 50
The amount of counting a child is 60rs

In [40]:
'''It is a simple example of break, 
where it immediatly terminate an operation of 
statement body when x is equal to 4'''
x=1
while x<=8:
    print(x)
    x+=1
    if x==4:
        break

1
2
3

In [46]:
x=1
while x<=8:
    print(x)
    x+=1

1
2
3
4
5
6
7
8

In [1]:
False * (not(False))

0

In [5]:
not False * False

True

In [6]:
lst_a=[1,2,3,4]
lst_b=lst_a
lst_a is lst_b

True

In [7]:
string="Data science Masters"
string[:]

'Data science Masters'

In [8]:
string[::-1]

'sretsaM ecneics ataD'

In [9]:
string[5:12]

'science'

In [10]:
string[-14:12:]

'cience'

In [11]:
string[-14:12:-1]

''

In [16]:
string[11:-16:-1]

'ecneics'

In [17]:
course="Pw skills Data science"

In [19]:
course[-14:2:-1]

'slliks'

In [20]:
course+"I'm learning throgh this course"

"Pw skills Data scienceI'm learning throgh this course"

In [21]:
course*10

'Pw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data sciencePw skills Data science'

In [22]:
string*3

'Data science MastersData science MastersData science Masters'

In [23]:
course + string

'Pw skills Data scienceData science Masters'

In [24]:
name="Data science masters"
str

'Data science masters'

In [35]:
course="pw skills data science masters 2.0"

In [28]:

len(course)

22

In [29]:
name="Data Science Masters"

In [30]:
len(name)

20

In [31]:
name.find('S')

5

In [32]:
course.find('i')

5

In [33]:
course.find('D')

10

In [34]:
course.find('E')

-1

In [36]:
course="Data science job assurence"

In [37]:
len(course)

26

In [38]:
course.find('j')

13

In [39]:
course.find('E')

-1

In [40]:
course.find('A')

-1

In [41]:
course.find('e',12,26)

22

In [43]:
course.split(' ')

['Data', 'science', 'job', 'assurence']

In [44]:
course="Decode data science with machine learning"

In [45]:
course.split(' ')

['Decode', 'data', 'science', 'with', 'machine', 'learning']

In [47]:
course.split('w')

['Decode data science ', 'ith machine learning']

In [48]:
course.partition('s')

('Decode data ', 's', 'cience with machine learning')

In [49]:
course="Decode Data Science With Machine Learning"

In [51]:
course.upper()

'DECODE DATA SCIENCE WITH MACHINE LEARNING'

In [52]:
course.lower()

'decode data science with machine learning'

In [53]:
course.swapcase()

'dECODE dATA sCIENCE wITH mACHINE lEARNING'

In [54]:
course.count("")

42

In [56]:
course.title()

'Decode Data Science With Machine Learning'

In [58]:
len(course)

41

In [61]:
course.find('D',6)

7