In [1]:
t1=()

In [2]:
type(t1)

tuple

In [3]:
t1=(1,2,3,4,45.5,45+5j,"sudh",True)

In [4]:
t1

(1, 2, 3, 4, 45.5, (45+5j), 'sudh', True)

In [5]:
l1=[1,2,3,4,5]

In [6]:
l1

[1, 2, 3, 4, 5]

In [7]:
type(l1)

list

In [8]:
t1

(1, 2, 3, 4, 45.5, (45+5j), 'sudh', True)

In [9]:
t1[0]

1

In [10]:
t1[7]

True

In [11]:
t1[6]

'sudh'

In [12]:
t1[::-1]

(True, 'sudh', (45+5j), 45.5, 4, 3, 2, 1)

In [13]:
t1=t1[::-1]

In [14]:
t1

(True, 'sudh', (45+5j), 45.5, 4, 3, 2, 1)

In [15]:
t1[0:5]

(True, 'sudh', (45+5j), 45.5, 4)

In [16]:
t1.count(5)

0

In [17]:
t1.count(1)

2

#in the case of tuple ,True is considered as 1 in internally thats why it is considered  True as 1

In [20]:
t1.index(True)

0

In [21]:
t1

(True, 'sudh', (45+5j), 45.5, 4, 3, 2, 1)

In [22]:
t1.index(45.5)

3

In [24]:
t1.index(5)

ValueError: tuple.index(x): x not in tuple

In [25]:
t1

(True, 'sudh', (45+5j), 45.5, 4, 3, 2, 1)

In [26]:
t1[4]='chandra'

TypeError: 'tuple' object does not support item assignment

tuples are basically immutable in nature that's why we can't change the the fixed value

In [27]:
l1

[1, 2, 3, 4, 5]

In [28]:
l1[3]=8

In [29]:
l1

[1, 2, 3, 8, 5]

lists are mutable in nature it can be be changed even its already defined

In [30]:
t1

(True, 'sudh', (45+5j), 45.5, 4, 3, 2, 1)

In [35]:
for i in t1:
    print(i)

True
sudh
(45+5j)
45.5
4
3
2
1

In [36]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
sudh <class 'str'>
(45+5j) <class 'complex'>
45.5 <class 'float'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [37]:
t1*3

(True,
 'sudh',
 (45+5j),
 45.5,
 4,
 3,
 2,
 1,
 True,
 'sudh',
 (45+5j),
 45.5,
 4,
 3,
 2,
 1,
 True,
 'sudh',
 (45+5j),
 45.5,
 4,
 3,
 2,
 1)

In [38]:
t2=(2,'sudh','krish',8,34)

In [39]:
max(t2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
t3=(1,2,3,4,5,6,7,8,9,2,34,)

In [42]:
max(t3)

34

In [43]:
min(t3)

1

In [64]:
t1=(1,2,3,4,5)

In [65]:
t2=(6,7,8,9,9,2)

In [66]:
t3=(t1,t2)

In [76]:
t3

((1, 2, 3, 4, 5), (6, 7, 8, 9, 9, 2))

In [77]:
t4=(t2,t1,l1)

In [78]:
t4

((6, 7, 8, 9, 9, 2), (1, 2, 3, 4, 5), [1, 2, 3, 8, 5])

In [84]:
for i in t4:
    for j in i:
        print(j)

6
7
8
9
9
2
1
2
3
4
5
1
2
3
8
5

In [75]:
t4=j

In [72]:
t4

5

In [85]:
len(t2)

6

In [86]:
'data' in t4

False

In [87]:
1 in l1

True

In [88]:
del t4

In [89]:
t4

NameError: name 't4' is not defined